fastapi
uvicorn[standard]
python-dotenv
supabase
requests
pandas
numpy
torch
torchvision
faiss-cpu
opencv-python
Pillow
opencv-python-headless
langchain
langchain-community
langchain-groq
pypdf
sentence-transformers

